*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: poppins, sans-serif;
}
/*
configurações mais genéricas
*/
body{
  max-width: 100vw;
  background: #f5f5f5;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2,
h3{
  color: #2c696d;
}
/*
confgurações do head
*/
#header{
  width: 100%;
  padding: 1.5rem calc(100% - 95%);
  box-shadow: 0 .125rem .2rem #000000;
  margin-bottom: .125rem;
}
.logo{
  width: 10%;
}
.logo img{
  width: 100%;
}
.main-menu{
  transition: all .3s;
}
.main-menu-nav-item{
  margin: .125rem;
  padding: .3rem .4rem;
}
.main-menu-nav-item a{
  color: #397f77;
  transition: all .2s;
  font-size: .8rem;
}
.main-menu-nav-item a:hover{
  opacity: .7;
}
.hamburger{
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2rem;
  height: 2rem;
  border-radius: .2rem;
  cursor: pointer;
  z-index: 100;
}
.hamburger .line{
  margin: 3px 0;
  background: #000;
  height: 3px;
  width: 100%;
  box-shadow: 0 3px 0 #fff;
}
/*
conteudo principal
*/
/*
capa
*/
#main,
section{
  width: 100%;
}
#capa{
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  background: #000;
  z-index: -1;
}
#capa img{
  width: 100%;
  animation: zoom 15s ease-in-out;
}

/*
serviços
*/
.titulo-sessao{
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin: 5rem 0;
  transform: translateY(2.5rem);
}
.servicos{
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}
.servico{
  width: 30%;
  border: 1px solid  #cfdfdf;
  margin: .5rem;
  min-width: 300px;
}
.servico img{
  width: 100%;
  transition: all .2s;
}
.servico img:hover{
  opacity: .7;
}
.titulo-servico{
  font-weight: 400;
  font-size: 1.5rem;
  color: #2c696d;
  margin: 2rem 2rem 2rem 2rem;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid  #cfdfdf;
}
.servicos .servico .servico-hora{
  color: #397f77;
  margin: 2rem;
}
.servicos .servico .servico-btn{
  background: #397f77;
  color: #ffffff;
  margin: 0 2rem 2rem 2rem;
  padding: .7rem 1.2rem;
  font-weight: 300;
  cursor: pointer;
  transition: all .2s;
}
.servicos .servico .servico-btn:hover{
  opacity: .9;
}

@media(max-width: 1024px){
  .servico{
    width: 45%;
  }
}
@media(max-width: 768px){
  .servico{
    width: 80%;
  }
  .hamburger{
    display: block;
    top: 2rem;
    right: 2rem;
  }
  .main-menu{
    transform: translateX(100%);
    padding-top: 3rem;
    width: 70vw;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
  }
  .main-menu-nav-item{
    text-align: center;
    width: 100%;
    display: flex;
    transition: all .2s;
  }
  .main-menu-nav-item:hover{
    opacity: .5;
  }
  .main-menu-nav-item a{
    padding: 2rem;
    height: 100%;
    width: 100%;
  }
  .main-menu a{
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
  }
}
@keyframes zoom{
  0%{
    scale: 1.2;
    opacity: .7;
  }100%{
    scale: 1;
    opacity: 1;
  }
}
.display{
  transform: translateX(0);
}